@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  margin-top: 0;
}
.tooltip .tooltip-inner {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.progress {
  height: 10px;
  border-radius: 2px;
}
.banner {
  padding-top: 120px;
  height: 380px;
  background: transparent url('../image/bg.jpg') 0 0 no-repeat fixed;
  background-size: 100%;
}
.banner .avatar {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5);
}
.banner .name {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px black;
}
.banner .slogan {
  color: #ffffff;
  font-size: 18px;
}
.content {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 30px 0;
}
.contacts {
  margin-bottom: 20px;
}
.contacts li a {
  display: inline-block;
}
.contacts li a img {
  width: 32px;
  height: 32px;
}
.intro {
  font-size: 15px;
  line-height: 1.5;
}
.edu-item {
  margin-bottom: 5px;
}
.edu-item .time {
  font-weight: bold;
}
.project .thumbnail {
  padding: 0;
  border-radius: 2px;
}
.project .thumbnail img {
  border-bottom: 1px solid #eeeeee;
}
.project .thumbnail .caption {
  position: relative;
  padding: 10px 15px 5px 15px;
}
.project .thumbnail .caption h3 {
  margin-top: 6px;
}
.project .thumbnail .caption .desc {
  margin-bottom: 8px;
}
.project .thumbnail .caption .tec {
  font-size: 12px;
  color: #aaa;
}
.project .thumbnail .caption .source {
  color: #888;
  position: absolute;
  bottom: 12px;
  right: 15px;
  font-size: 16px;
}
.project .thumbnail .caption .source:hover {
  color: #333;
}
.skill h3 {
  font-size: 16px;
  font-weight: normal;
}
