.container {
  width: 1020px;
}
body {
  background-color: #fcfcfc;
  overflow-x: hidden;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  font-size: 18px;
  margin-top: 0;
}
.tooltip .tooltip-inner {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.progress {
  height: 10px;
  border-radius: 2px;
}
.banner {
  min-width: 1020px;
  padding-top: 120px;
  height: 380px;
  background: transparent url('http://hustlzp-resume.qiniudn.com/sea.jpg') 0 0 no-repeat;
  background-size: cover;
}
.banner .avatar {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5);
}
.banner .name {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px black;
}
.banner .slogan {
  color: #ffffff;
  font-size: 18px;
  text-shadow: 0 1px 1px gray;
}
.content {
  padding-top: 30px;
}
.contacts {
  margin-bottom: 20px;
}
.contacts li a {
  display: inline-block;
}
.contacts li a img {
  width: 32px;
  height: 32px;
}
.books {
  margin-bottom: 20px;
}
.books img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.intro {
  font-size: 15px;
  line-height: 1.5;
}
.edu-item {
  margin-bottom: 5px;
}
.edu-item .time {
  font-weight: bold;
}
.project-wap {
  position: relative;
}
.project-wap .project {
  position: absolute;
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.project-wap .project img {
  border-bottom: 1px solid #eeeeee;
}
.project-wap .project .caption {
  position: relative;
  padding: 10px 15px 5px 15px;
}
.project-wap .project .caption h3 {
  margin-top: 6px;
}
.project-wap .project .caption .desc {
  margin-bottom: 8px;
}
.project-wap .project .caption .tec {
  font-size: 12px;
  color: #aaa;
}
.project-wap .project .caption .source {
  color: #888;
  position: absolute;
  bottom: 12px;
  right: 15px;
  font-size: 16px;
}
.project-wap .project .caption .source:hover {
  color: #333;
}
.skill h3 {
  font-size: 16px;
  font-weight: normal;
}
.edu-item-wap {
  margin-bottom: 80px;
}
.footer {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
  color: #999999;
}
.footer .version {
  margin-bottom: 5px;
}
